<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/detail.css">
</head>
<body>

    <div class="container mx-auto p-5 bg-white rounded-lg shadow-md">
        <h1 class="text-3xl font-bold mb-4" id="detail-title">Subject Detail</h1>

        <div class="mt-8">
            <div class="mb-4">
                <strong>Average score:</strong> <span id="detail-average-score"></span>
                <div class="mt-2 h-6 bg-green-100 rounded-full">
                    <div id="detail-average-bar" class="bg-green-500 h-full rounded-full" style="width: 0%;"></div>
                </div>
            </div>
            
            <div class="mb-4">
                <strong>Highest score:</strong> <span id="detail-highest-score"></span>
                <div class="mt-2 h-6 bg-yellow-100 rounded-full">
                    <div id="detail-highest-bar" class="bg-yellow-500 h-full rounded-full" style="width: 0%;"></div>
                </div>
            </div>
            
            <div class="mb-4">
                <strong>Lowest score:</strong> <span id="detail-lowest-score"></span>
                <div class="mt-2 h-6 bg-red-100 rounded-full">
                    <div id="detail-lowest-bar" class="bg-red-500 h-full rounded-full" style="width: 0%;"></div>
                </div>
            </div>
        </div>

        <h3 class="font-bold text-lg my-2 mt-4">Student ranking</h3>
        <table class="min-w-full border-collapse border border-gray-300 mt-4">
            <thead>
                <tr class="bg-gray-100">
                    <th class="border border-gray-300 px-4 py-2">No.</th>
                    <th class="border border-gray-300 px-4 py-2">Student Name</th>
                    <th class="border border-gray-300 px-4 py-2">Student ID</th>
                    <th class="border border-gray-300 px-4 py-2">Student Class</th> <!-- New column -->
                    <th class="border border-gray-300 px-4 py-2">Score</th>
                    <th class="border border-gray-300 px-4 py-2">Action</th>
                </tr>
            </thead>
            <tbody id="detail-student-ranking">
                <!-- Student ranking will be added here -->
            </tbody>
        </table>

        <a href="/" class="mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Return home</a>
    </div>

    <script src="../static/utility/detail.js"></script>
</body>
</html>