<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examiner - Exam Detail</title>
    <link rel="icon" href="../static/img/icon.png" type="image/png">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="../static/fonts/fontawesome-free-6.5.2-web/css/all.css">
    <link rel="stylesheet" href="../static/fonts/themify-icons/themify-icons.css">

    <link rel="stylesheet" href="../static/style/base.css">
    <link rel="stylesheet" href="../static/style/examDetail.css">
</head>

<body>
    <div class="container">
        <div class="hidden_layer"></div>
        <!-- ___________________NAVIGATE PART_______________________ -->
        <div class="navigate">
            <img src="../static/img/icon_2.png" alt="logo" class="logo_page">
            <h1>Examiner</h1>
            <div class="items">
                <div class="item_box">
                    <i class="fa-solid fa-house"></i>
                    <a href="/">
                        <span>Home</span>
                    </a>
                </div>
                <div class="item_box">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <a href="/get_student_list">
                        <span>Student List</span>
                    </a>
                </div>
                <div class="item_box">
                    <i class="fa-solid fa-gear"></i>
                    <span>Setting</span>
                </div>
            </div>

        </div>

        <!-- ___________________CONTENT PART_______________________ -->
        <div class="content">
            <p><span>Final Exam: </span>{{ subject['subject_name'] }}</p>
            <div class="content__box column">
                <div class="content__dashboard">
                    <!-- <p class="dashboard__header"></p> -->
                    <div class="dashboard__content row">
                        <div class="dashboard--left">
                            <div class="data-table">
                                <div class="data-cell">
                                  <div class="data-value">{{ highestScore }}</div>
                                  <div class="data-label">Highest score</div>
                                </div>
                                <div class="data-cell">
                                  <div class="data-value">{{ lowestScore }}</div>
                                  <div class="data-label">Lowest score</div>
                                </div>
                                <div class="data-cell">
                                  <div class="data-value">{{ avgScore }}</div>
                                  <div class="data-label">Average score</div>
                                </div>
                                <div class="data-cell">
                                  <div class="data-value">{{ passPercentage }}%</div>
                                  <div class="data-label">Percentage passed</div>
                                </div>
                              </div>
                        </div>

                        <div class="dashboard--right">
                            <canvas id="barChart" data-score="{{ amountOfEachScore }}"></canvas>
                        </div>

                    </div>
                </div>

                <div class="content__stdExam column">
                    <p class="stdExam__header">Student Exams List</p>
                    <div class="stdExam__search">
                        <input type="text" name="search" id="">
                        <img src="../static/img/search.png" alt="">
                    </div>
                    <div class="stdExam__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Student ID</th>
                                    <th>Student Name</th>
                                    <th>Student Class</th>
                                    <th>Student Score</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ student['msv'] }}</td>
                                    <td>{{ student['student_name'] }}</td>
                                    <td>{{ student['class'] }}</td>
                                    <td class="score">{{ student['score'] }}</td>
                                    <td class="row">
                                        <button class="edit__icon edit--score">
                                            <i class="fa-solid fa-pen"></i>
                                        </button>
                                        <button class="edit__icon delete--std" data-subject="{{ student['subject_id'] }}" id="{{ student['id'] }}">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div class="content__upload">
                <div class="upload__box">
                    <p>Drag or Drop Student's Exam Here!</p>
                    <input type="file" id="fileInput" multiple style="display: none;">
                </div>
            </div>

            
        </div>

        <!-- ___________________DELETE STD EXAM_______________________ -->
        <div class="popup--dlt"> 
            <i class="fa-solid fa-xmark"></i>
            <p>Do you want to delete this student's exam?</p>
            <button>DELETE</button>
        </div>

        <!-- ___________________EDIT STD SCORE_______________________ -->
        <div class="popup--edit"> 
            <i class="fa-solid fa-xmark"></i>
            <p>Change score from <span>0 </span> to:</p>
            <input type="text" name="ChangeScore" id="">
            <button>CONFIRM</button>
        </div>


    </div>
    <!-- ___________________JS_______________________ -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
    <script src="../static/utility/examDetail.js"></script>
</body>

</html>